<IfModule mod_rewrite.c>

  RewriteEngine On

  RewriteBase /



  # Si la requête correspond à un fichier ou un dossier existant, ne rien faire

  RewriteCond %{REQUEST_FILENAME} -f [OR]

  RewriteCond %{REQUEST_FILENAME} -d

  RewriteRule ^ - [L]



  # Sinon, rediriger toutes les requêtes vers index.html

  RewriteRule ^ index.html [L]

</IfModule>



# Gérer les erreurs 404 en redirigeant vers index.html

ErrorDocument 404 /index.html

